.App {
  text-align: center;
}

body{
  margin: 0;
  
}

.custm-sidebar{
  background-image: linear-gradient(180deg, #363E9F 0%, rgba(54, 62, 159, 0.50) 100%);
      
}



@media screen and (max-width: 768px) {
  .custm-sidebar{
   
    height: 42px;
  }

  .custm-sidebar.open{
    height: 100% !important;
  }

  
}

